/* Full screen center */
.auth-container {
  width: 100%;
  height: 100vh;
  background: linear-gradient(135deg, #6e00ff, #1f0036);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/* 3D Card Wrapper */
.card {
  width: 380px;
  height: 480px;
  transform-style: preserve-3d;
  transition: 0.9s ease;
  position: relative;
}

/* Flip effect */
.card.flip {
  transform: rotateY(180deg);
}

/* Both sides */
.side {
  width: 100%;
  height: 100%;
  border-radius: 16px;
  position: absolute;
  backface-visibility: hidden;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  box-shadow: 0 8px 40px rgba(0, 0, 0, 0.3);
  padding: 40px;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
}

/* Back side flipped */
.back {
  transform: rotateY(180deg);
}

/* Inputs */
input {
  margin-top: 15px;
  padding: 12px;
  border-radius: 10px;
  border: none;
  outline: none;
  background: rgba(255,255,255,0.2);
  color: white;
  font-size: 15px;
}

input::placeholder {
  color: #eee;
}

/* Buttons */
.btn {
  margin-top: 25px;
  padding: 12px;
  border: none;
  border-radius: 10px;
  background: #ff00c8;
  color: white;
  font-size: 17px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background: #ff4be3;
  transform: scale(1.03);
}

/* Switch text */
.switchText {
  margin-top: 20px;
  font-size: 14px;
}

.switchText span {
  color: #ff4be3;
  cursor: pointer;
  font-weight: bold;
}
